@use "../../Utils/Responsive" as *;

.title-services {
  color: #ecbd00;
  text-align: center;
  margin-top: 8em;
  margin-bottom: 2em;
}

.box-services {
  transform: translateX(50%);
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid #484646;
  border-radius: 15px;
  padding: 1em;
  canvas {
    width: 100% !important;
  }
}

.layout-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  .services {
    h4 {
      color: #ffffff;
      font-weight: 300;
      font-size: 0.8em;
    }
    width: 250px;
    background-color: #000000;
    border: 1px solid #484646;
    border-radius: 25px;
    padding-inline: 1em;
  }
  .services:hover {
      filter: invert(1);
      transition: all 0.3s ease-in-out;
    }
}

@include mobile {
  .title-services {
    font-size: 1rem;
  }

  .services-container {
    position: relative;
    z-index: -1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box-services {
    transform: translateX(0); 
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 1em 1em 3em 1em;
    .layout-services {
      margin-top: 1rem;
    }
    .services {
      width: 80%;
      padding-inline: 0;
      padding-left: 0.5rem;
      margin-left: clamp(1.3em, 4vw, 6em);
      h4 {
        font-size: 0.8rem;
        margin: 0.5em;
        font-weight: 400;
      }
    }
  }
}

@include tablet {
    .title-services {
    font-size: 1.3rem;
  }

  .services-container {
    position: relative;
    z-index: 1;
    width: 96%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box-services canvas {
    transform:  translateX(1%);
      max-width: 800px;
      width: 100%;
      min-height: 300px;
    }

  .box-services {
    transform: translateX(2.5%); 
    width: 67%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 1em 1em 3em 1em;
    .layout-services {
      margin-top: 1rem;
    }
    .services {
      width: 90%;
      padding-inline: 0;
      padding-left: 0.5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      margin-left: clamp(1.3em, 4vw, 6em);
      h4 {
        font-size: 0.8rem;
        margin: 0.5em;
        font-weight: 400;
      }
    }
  }
}

@include desktop {
  .services-container {
    display: flex;
    justify-content: center;
  }
  .box-services {
    transform: translateX(0);
    width: 70%;
  }
  .box-services canvas {
    min-height: 200px;
  }
}
