@use "../../Utils/responsive" as *;

.skills.active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-out, transform 0.5s ease-out;
}
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(50px);
  .skills-title {
    font-size: 3em;
    padding-bottom: 2em;
  }
  .box_skills {
    width: 80%;
    height: 40vh;
    border: 1px solid white;
    border-radius: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15em;
    background-color: rgb(0,0,0,0.8);
    :nth-child(1) {
      position: relative;
      top: 13px;
      width: 150px;
    }
    :nth-child(2) {
      position: relative;
      top: 15px;
    }
    :nth-child(3) {
      position: relative;
      top: 10px;
    }
    & img {
      width: 10%;
      height: auto;
    }
  }
}
@include mobile {
 .skills {
  .skills-title {
    font-size: 1.8em;
  }
  .box_skills {
    display: flex;
    flex-direction: column-reverse;
    width: 50%;
    height: 100vh;
    margin-bottom: 1em;
    img {
      width: 60%;
    }
  }
 }
}
@include tablet {
  .skills {
    margin-bottom: 3em;
    .skills-title {
      font-size: 4em;
    }
    .box_skills {
      display: flex;
      flex-direction: column-reverse;
      width: 50%;
      height: 160vh;
      img {
        width: 60%;
      }
    }
   }
}

@include largeDesktop {
  .skills
  .skills-title {
    font-size: 7rem;
  }
  body .box_skills {
    :nth-child(1) {
      width: 270px !important ;
    }
  }
}
