html, body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: url("/public/cursor.webp") 20 0, auto;
}

::-webkit-scrollbar, label {
  cursor: url("/public//cursor.webp"), 20 0 auto;
}

a:hover,
button:hover{
  cursor: url('/public/cursor.webp') 20 0, auto
}
