@use "../../../Utils/Responsive" as *;

.layout-catchprase2 {
 padding: 5rem;
 display: flex;
 flex-direction: row;
 gap: 15px;
 img {
  border: 1px solid #464848;
  border-radius: 25px;
  width: 600px;
  height: 400px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  &:hover {
   transform: scale(1.01);
  }
 }
 h4 {
  border: 1px solid #464848;
  border-radius: 25px;
  font-size: 1.5rem;
  font-weight: 200;
  display: flex;
  align-items: center;
  height: 305px;
  margin: 0;
  padding: 2em;
  transition: all 0.3s ease-in-out;
  &:hover {
   transform: scale(1.01);
  }
 }
}

@include mobile {
 .layout-catchprase2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  img {
   width: 95%;
   height: 50%;
  }
  h4 {
   height: 50%;
   width: 78%;
   padding: 2em;
   font-size: 1rem;
  }
 }
}
@include tablet {
  .layout-catchprase2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  img {
   width: 95%;
   height: 50%;
  }
  h4 {
   height: 50%;
   width: 78%;
   padding: 2em;
   font-size: 2rem;
  }
 }
}

@include desktop {
  .layout-catchprase2 {
    margin-bottom: -8rem;
 img {
  width: 50%;
  height: 400px;
 }
}
}