@use "../../Utils/responsive" as *;

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.layout-contact {
 max-width: 100%;
 margin: auto;
 padding: 40px;
 text-align: center;
 padding-top: 5em;
 opacity: 0;
 transform: translateY(50px);
}
.layout-contact.active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-out, transform 0.5s ease-out;
}
.contact-title {
  padding-bottom: 2em;
 font-size: 2.5rem;
 font-weight: bold;
 color: white;
}
.contact-text {
 font-size: 1.2rem;
 color: #ddd;
 margin-bottom: 5em;
}
form {
 display: flex;
 flex-direction: column;
 align-items: center;
  gap: 40px;
}
.name-field,
.com-field {
 display: flex;
 justify-content: space-around;
 width: 100%;
 gap: 10px;
}
.name-field input,
.com-field input {
 width: 30%;
}
input,
textarea {
 width: 80%;
 padding: 12px;
 font-size: 1rem;
 border: 2px solid #ddd;
 border-radius: 5px;
 background-color: white;
 transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
input:focus,
textarea:focus {
 border-color: #00aaff;
 outline: none;
 box-shadow: 0 0 10px rgba(0, 170, 255, 0.5);
}
textarea {
 height: 150px;
 resize: vertical;
}
.checkbox {
 display: flex;
 flex-direction: row;
 justify-content: center;
}
input[type="checkbox"] {
 width: auto;
 height: 20px;
 position: relative;
 top: 2px;
 left: 10px;
}
.checkbox label {
 width: 70%;
}
input[type="submit"] {
 width: 10%;
 background-color: #fff;
 color: #000000;
 font-size: 1.2rem;
 font-weight: bold;
 cursor: pointer;
 border: none;
 border-radius: 90px;
 padding: 15px;
 transition: background 0.3s ease-in-out;
}
input[type="submit"]:hover {
 background-color: #0088cc;
 color: white;
}

.msg-rtv {
  text-align: center;
  padding-bottom: 3em;
}

@include mobile {
  .layout-contact {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 0em;
    .contact-title {
      margin-top: 3rem;
      font-size: 2rem;
    }
    .contact-text {
      font-size: 1em;
      margin-bottom: 3em;
      margin-top: 1em;
      width: 80%;
    }
    .name-field, .com-field {
      display: flex;
      gap: 40px;
      align-items: center;
      flex-direction: column;
    }
    .name-field input,
    .com-field input {
      width: 80%;
    }
    input[type="checkbox"] {
      width: auto;
      height: 20px;
      position: relative;
      top: -6px;
      left: -2px;
    }
    label {
      width: 100%;
      font-size: 0.8rem;
    }
    input[type="submit"] {
      width: 180px;
      margin-bottom: 40px;
    }
  }
}
@include tablet {
  .layout-contact {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    padding: 1em;
    .contact-title {
      font-size: 4rem;
    }
    .contact-text {
      font-size: 2em;
      margin-bottom: 3em;
      margin-top: 1em;
      width: 80%;
    }
    .name-field, .com-field {
      display: flex;
      gap: 40px;
      align-items: center;
      flex-direction: column;
    }
    .name-field input,
    .com-field input {
      width: 80%;
    }
    form input[type="checkbox"] {
      width: 20px;
      height: 20px;
      position: relative;
      top: 10px;
      left: -2%;
    }
    label {
      text-align: left;
      width: 80%;
    }
    input[type="submit"] {
      width: 180px;
      margin-bottom: -10rem;
    }
  }
}
@include desktop {
  input[type="checkbox"] {
    width: 15px;
    position: relative;
    top: -5px;
    left: 5px;
  }
}

@include largeDesktop {  
  .layout-contact {
   max-width: 100%;
   padding: 40px;
   text-align: center;
   padding-top: 1em;
   opacity: 0;
   transform: translateY(50px);
  }

  .contact-title {
    padding-bottom: 2em;
   font-size: 7rem;
  }
  .contact-text {
   font-size: 4rem;
   margin-bottom: 5em;
  }
  form {
    gap: 80px;
  }
  .name-field,
  .com-field {
   width: 100%;
   height: 3vh;
  }
  .name-field input,
  .com-field input {
   width: 30%;
   height: 3vh;
  }
  input,
  textarea {
   width: 80%;
   height: 3vh;
  }
  textarea {
   height: 190px;
  }
  ::placeholder {
    font-size: 2.4rem;
  }
  input[type="checkbox"] {
   width: 50px;
   height: auto;
   position: relative;
   top: -25px;
   left: 25px;
  }
  .checkbox label {
   width: 70%;
   font-size: 2.4rem;
  }
  input[type="submit"] {
   width: 10%;
   height: auto;
   font-size: 2.4rem;
  }
  
  .msg-rtv {
    text-align: center;
    padding-bottom: 3em;
  }
}

