@use "../../Utils/responsive" as *;

nav {
  position: fixed;
  top: -4.5em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}
.layout-nav {
 width: 1000px;
 height: 7vh;
 display: flex;
 align-items: center;
 flex-direction: row;
 justify-content: space-around;
 gap: 40px;
 background-color: black;
 border: 2px solid white;
 border-radius: 50px;
 padding: 1em;
 a {
  font-size: 1.7rem;
 }
 a:hover {
  color: #00aaff;
 }
}
.layout-nav {
 transition: transform 1.5s ease;
 transform: translateY(0);
}
.layout-nav:hover,
.layout-nav.active {
 transform: translateY(80px);
}
@keyframes translate {
 0% {
  transform: translateY(0px);
 }
  100% {
   transform: translateY(80px);
  }
}
@include mobile {
 .layout-nav {
  display: none;
 }
}
@include tablet {
 .layout-nav {
  display: none;
 }
}
@include desktop {
 body nav {
  display: flex;
  gap: 67px;
  & a {
   font-size: 1.3em;
  }
 }
}

@include largeDesktop {

  nav {
    top: -5.5em;
    .layout-nav {
      border-radius: 50px;
      width: 100%;
      height: 6vh;
      a {
        font-size: 3em;
      }
    }
    .layout-nav:hover,
.layout-nav.active {
 transform: translateY(100px);
}
  }
}