@font-face {
  font-family: 'Roboto';
  src: url('../public/Fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1;
  font-display: swap;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 ;
  padding: 0;
  display: flex;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
a,
p,
button {
  margin: 0;
}

.fa-solid {
  color: white;
}

button {
  border-radius: 90px;
  padding-inline: 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}


