@use "../../Utils/responsive" as *;

.layout-nav {
 width: 68%;
 height: 5vh;
 z-index: 9999;
 display: flex;
 align-items: center;
 flex-direction: row;
 justify-content: space-around;
 gap: 40px;
 position: fixed;
 background-color: black;
 top: -3em;
 left: 300px;
 border: 2px solid white;
 border-radius: 50px;
 padding: 1em;
 a {
  font-size: 1.7rem;
 }
 a:hover {
  color: #00aaff;
 }
}
nav {
  .langage-button {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    padding: 1em;
    .france-but {
      position: relative;
      top: 6px;
     width: 30px;
     height: 30px;
     object-fit: cover;
    }
    .english-button img {
      width: 30px;
      height: 30px;
    }
  }
button {
  display: flex;
  justify-content: center;
  align-items: center;
 border: none;
 background: none;
 width: 40px;
 height: 35px;
  }
}
.layout-nav {
 transition: transform 1.5s ease;
 transform: translateY(0);
}
.layout-nav:hover,
.layout-nav.active {
 transform: translateY(60px);
}
@keyframes translate {
 0% {
  transform: translateY(0px);
 }
  100% {
   transform: translateY(60px);
  }
}
@include mobile {
 .layout-nav {
display: none;
 }
 .langage-button {
  position: relative;
  bottom: 280px;
  .english-button {
    position: relative;
    top: 4px;
    font-size: 2.3rem;
  }
 }
}
@include tablet {
 .layout-nav {
  display: none;
 }
}
@include desktop {
 body nav {
  display: flex;
  gap: 67px;
  & a {
   font-size: 1.3em;
  }
 }
}