@use "../../Utils/responsive" as *;

.layout-nav {
 width: 49%;
 z-index: 9999;
 display: flex;
 align-items: center;
 flex-direction: row;
 justify-content: space-around;
 gap: 50px;
 position: fixed;
 background-color: black;
 top: -3em;
 left: 370px;
 border: 2px solid white;
 border-radius: 50px;
 padding: 1em;
 a {
  font-size: 1.7rem;
 }
 a:hover {
  color: #00aaff;
 }
}
nav {
img {
 width: 25px;
 height: 30px;
 object-fit: cover;
 position: absolute;
 top: 17px;
 right: 1420px;
}
button {
 border: none;
 background: none;
 width: 30px;
}
.english-button {
 font-size: 1.6rem;
 position: absolute;
 bottom: 700px;
 left: 40px;
 }
}

.layout-nav {
 transition: transform 1.5s ease;
 transform: translateY(0);
}

.layout-nav:hover,
.layout-nav.active {
 transform: translateY(60px);
}


@keyframes translate {
 0% {
  transform: translateY(0px);
 }
  100% {
   transform: translateY(60px);
  }
}

@include mobile {
 body nav {
display: none;
 }
}

@include tablet {
 body nav {
  display: none;
 }
}

@include desktop {
 body nav {
  display: flex;
  gap: 67px;
  & a {
   font-size: 1.3em;
  }
 }
}