.catch-layout {
 max-width: 500px;
 margin: 0 auto;
 margin: 2rem;
 display: flex;
 flex-direction: column;
 gap: 30px;
}
.catchphrase-content {
  padding: 2rem;
  border: 1px solid #484646;
  border-radius: 15px;
  background: rgba(30, 30, 30, 0.6);
 }
 h3 {
  line-height: 1.2;
  font-weight: 500;
  font-size: 1rem;  
 }

.catchphrase-content:hover {
 box-shadow: 0 10px 30px rgba(236, 189, 0, 0.2);
 border-color: rgba(236, 189, 0, 0.2);
}