@use "../../Utils/Responsive" as *;

.background {
  margin: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: -99999999;
  gap: 15px;
  img {
    border: 1px solid #484646;
    border-radius: 20px;
    object-fit: cover;
  }
}

.thirstrange {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 320px;
}

.secondrange {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 300px;
}

.img1 {
  opacity: 0.7;
}

.img2 {
  opacity: 0.6;
}

.img3 {
  opacity: 0.4;
}

.img4 {
  opacity: 0.6;
}

.img5 {
  opacity: 0.75;
}

.img6 {
  opacity: 0.8;
}

.img7 {
  opacity: 0.6;
}

.img8 {
  opacity: 0.5;
}

.img9 {
  opacity: 0.5;
}

.img10 {
  opacity: 0.8;
}

@include mobile {
  .background {
    margin: 0;
    display: flex;
    flex-direction: column;
    z-index: -10;
    overflow: visible;
    gap: 15px;
    img {
      border: 1px solid #484646;
      border-radius: 20px;
      object-fit: cover;
      width: 30%;
      height: 200px;
    }
  }
  .thirstrange {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: auto
}

.secondrange {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: auto;
  }
}

@include tablet {
    .background {
    margin: 0;
    display: flex;
    flex-direction: column;
    z-index: -10;
    overflow: visible;
    gap: 15px;
    img {
      border: 1px solid #484646;
      border-radius: 20px;
      object-fit: cover;
      width: 100%;
      height: 250px;
    }
  }
  .thirstrange {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: auto
}

.secondrange {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: auto;
  }
}
